/* colour palette https://atlassian.design/foundations/color-new/color-palette-new */

@font-face {
    font-family: 'PT sans';
    src: url('/css/fonts/PTSans-Bold.ttf');
}

/* General */
body {
    background-color: rgb(22,26,29); /* DarkNeutral0 */
    font-family: "PT sans", Helvetica, sans-serif;
}

/* top of page */

#top {
    text-align: center;
}

#top a {
    font-size: 4em;
    color: white;
}

#socialsNav a {
    padding: 0.2em;
    font-size: 2.5em;
}

#socialsNav a:hover {
    background-color: grey;
}