/* General */
body{
    background-color: white;
}

.shadowless {
    box-shadow: none!important;
}

.code-tags span{
    font-family: Consolas, monaco, monospace;
    padding: 2px;
    background-color: #b7e5c4;
    background-color: whitesmoke;
    margin-right: min(1vh, 1vw);
}

.my-highlight :hover{
    background-color: whitesmoke;
}

/* Header */
#my-title{
    font-size: 3em;
    text-align: center;
}

.my-header{
    font-size: 1.5em;
}

/* Navigation */
.navigation a{
    color: black;
}

.navigation-content {
    display: flex;
    justify-content: center;
}


.navigation-content ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navigation-content li {
    font-size: min(3h, 3vw);
    float: left;
}


.navigation-content li a {
    display: block;
    color: black;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.navigation-content li a:hover {
    background-color: whitesmoke;
}